<h1>Listing Gods</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mission Statement</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gods.each do |god| %>
  <tr>
    <td><%= god.name %></td>
    <td><%= god.mission_statement %></td>
    <td><%= link_to 'Show', god %></td>
    <td><%= link_to 'Edit', edit_god_path(god) %></td>
    <td><%= link_to 'Destroy', god, method: :delete, data: { confirm: 'Are you sure you want to destroy this god?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New God', new_god_path %>
