<div id="guardian_angel">
  <h2><%= @guardian_angel.name %></h2>
  <p>
    <b>Top virtue:</b>
    <%= @guardian_angel.top_virtue %>
  </p>
</div>

<% if !@guardian_angel.person.nil?%>
  <p>
    <b>My Favorite Human!<b>
      <%= link_to @guardian_angel.person.name, god_guardian_angel_person_path(@god, @guardian_angel,
        @guardian_angel.person) %>
  </p>
<% end %>

<%= link_to 'Back', gods_path %>
<%= link_to "Create my human!",
  new_god_guardian_angel_person_path(@god, @guardian_angel) %>
