<%= form_for [@god, @guardian_angel, @human] do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :purpose %><br />
    <%= f.text_field :purpose %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
